:root {
  /* Dracula */
  --background: #282A36;
  --background-dark: #21222C;
  --current-line: #6272A4;
  --selection: #44475A;
  --foreground: #F8F8F2;
  --comment: #6272A4;
  --red: #FF5555;
  --orange: #FFB86C;
  --yellow: #F1FA8C;
  --green: #50FA7B;
  --cyan: #8BE9FD;
  --purple: #BD93F9;
  --pink: #FF79C6;
}

:root {
  /* Semantic mappings for website */
  --background-color: var(--background);
  --heading-color: var(--pink);
  --text-color: var(--foreground);
  --link-color: var(--cyan);
  --visited-color: var(--purple);
  --code-background-color: var(--background-dark);
  --code-color: var(--foreground);
  --blockquote-border-color: var(--orange);
  --mark-background-color: var(--background-color);
  --mark-color: var(--yellow);
}